{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_slider-1">
			<!-- START Trace Components REVOLUTION SLIDER 6.7.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_1_1" style="" data-version="6.7.13">
					<rs-slides style="overflow: hidden; position: absolute;">
						<rs-slide style="position: absolute;" data-key="rs-3" data-title="Elements" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="p:left top;f:contain;" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-3-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;"
								data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
								data-dim="w:1086px,867px,659px,406px;h:700px,559px,425px,262px;"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-3" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="xo:92px,73px,55px,33px;y:b;yo:-20px,-15px,-11px,-6px;"
								data-text="w:normal;s:36,28,21,12;l:71,56,42,25;"
								data-frame_999="o:0;st:w;"
								style="z-index:6;font-family:'Roboto';"
							>Elements 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-2" data-title="Light Modulators" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-group
								id="slider-1-slide-2-layer-8" 
								data-type="group"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,15,11,6;l:0,19,14,8;a:center;"
								data-dim="w:720px,575px,437px,269px;h:720px,575px,437px,269px;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sA:9000;"
								style="z-index:7;"
							><!--
								--><rs-layer
									id="slider-1-slide-2-layer-1" 
									data-type="image"
									data-rsp_ch="on"
									data-xy=""
									data-pos="a"
									data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
									data-dim="w:715px,571px,434px,267px;h:720px,575px,437px,269px;"
									data-basealign="slide"
									data-frame_999="o:0;st:w;"
									style="z-index:6;"
								><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/LM2_Noisy_Bump.png" data-no-retina> 
								</rs-layer><!--
							--></rs-group><!--

							--><rs-layer
								id="slider-1-slide-2-layer-4" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="xo:290px,231px,175px,107px;y:b;yo:-20px,-15px,-11px,-6px;"
								data-text="w:normal;s:36,28,21,12;l:71,56,42,25;"
								data-frame_999="o:0;st:w;"
								style="z-index:6;font-family:'Roboto';"
							>Light Modulators 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-4" data-title="Connectors & Conductors" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-4-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;"
								data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
								data-dim="w:1244px,994px,755px,465px;h:700px,559px,425px,262px;"
								data-frame_999="o:0;st:w;"
								style="z-index:5;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/T_Connect_on_Trace.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-4-layer-6" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="xo:20px,15px,11px,6px;y:b;yo:-20px,-15px,-11px,-6px;"
								data-text="w:normal;s:36,28,21,12;l:71,56,42,25;"
								data-frame_999="o:0;st:w;"
								style="z-index:6;font-family:'Roboto';"
							>Conductors & Connectors 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-5" data-title="Control & Power" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#ffffff;f:32% 100%;" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-5-layer-5" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,15,11,6;l:0,19,14,8;"
								data-dim="w:866px,692px,526px,324px;h:487px,389px,295px,182px;"
								data-frame_999="o:0;st:w;"
								style="z-index:6;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/TS.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-5-layer-7" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="xo:92px,73px,55px,33px;y:b;yo:-20px,-15px,-11px,-6px;"
								data-text="w:normal;s:36,28,21,12;l:71,56,42,25;"
								data-frame_999="o:0;st:w;"
								style="z-index:7;font-family:'Roboto';"
							>Control & Power 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>
				<script>
					setREVStartSize({c: 'rev_slider_1_1',rl:[1240,1024,778,480],el:[740,768,960,720],gw:[1280,1023,778,480],gh:[740,900,480,200],type:'carousel',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider11"]!==undefined) {window.RS_MODULES.modules["revslider11"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi1;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider11"] = {init:function() {
			window.revapi1 = window.revapi1===undefined || window.revapi1===null || window.revapi1.length===0  ? document.getElementById("rev_slider_1_1") : window.revapi1;
			if(window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length==0) { window.revapi1initTry = window.revapi1initTry ===undefined ? 0 : window.revapi1initTry+1; if (window.revapi1initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider11"].init()}); return;}
			window.revapi1 = revQuery(window.revapi1);
			if(window.revapi1.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_1_1"); return;}
			revapi1.revolutionInit({
					revapi:"revapi1",
					sliderType:"carousel",
					DPR:"dpr",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"gid://shopify/AppInstallation/649909272874",
					gridwidth:"1280,1023,778,480",
					gridheight:"740,900,480,200",
					lazyType:"smart",
					forceOverflow:true,
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"740,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					carousel: {
						showLayersAllTime:"all",
						infinity:true,
						justifyMaxWidth:true,
						snap:false,
						maxVisibleItems:5
					},
					progressBar:{disableProgressBar:true},
					navigation: {
						wheelCallDelay:1000,
						onHoverStop:false,
						touch: {
							touchenabled:true,
							touchOnDesktop:true,
							swipe_min_touches:3
						}
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:0
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} ;

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_slider-1" ).after( "<div id='revslider_show_slider-1'></div>" );
                            revQuery( "#revslider_drag_slider-1" ).hide();
                            revQuery("#revslider_foot_slider-1").appendTo("#revslider_show_slider-1");
                            revQuery("#revslider_show_slider-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>