{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_section-7">
			<!-- START section 7 (Border and carousel) REVOLUTION SLIDER 6.7.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_21_1_wrapper" data-source="gallery" style="visibility:hidden;background:#ebf7f9;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_21_1" style="" data-version="6.7.13">
					<rs-slides style="overflow: hidden; position: absolute;">
						<rs-slide style="position: absolute;" data-key="rs-51" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-21-slide-51-layer-8" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="yo:100px,100px,70px,48px;"
								data-text="w:normal;s:20,20,14,9;l:0,0,17,11;"
								data-dim="w:1000px,1000px,700px,480px;h:500px,500px,350px,240px;"
								data-frame_999="o:0;st:w;"
								style="z-index:7;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/imgi_253_shopify-reviews-logo.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-52" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-21-slide-52-layer-12" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="yo:100px,100px,70px,48px;"
								data-text="w:normal;s:20,20,14,9;l:0,0,17,11;"
								data-dim="w:1000px,1000px,700px,480px;h:500px,500px,350px,240px;"
								data-frame_999="o:0;st:w;"
								style="z-index:7;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/imgi_231_tokio-japan-june-05-2022-shopify-web-page-displayed-modern-laptop-smartphone-notebook-red-background-shopify-logo-iphone_132310-8584.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-53" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-21-slide-53-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="yo:100px,100px,70px,48px;"
								data-text="w:normal;s:20,20,14,9;l:0,0,17,11;"
								data-dim="w:1000px,1000px,700px,480px;h:500px,500px,350px,240px;"
								data-frame_999="o:0;st:w;"
								style="z-index:7;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/imgi_205_fulfillment.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--

							--><rs-layer
								id="slider-21-slide-21-layer-0" 
								class="rs-svg rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="xo:50px,50px,35px,24px;yo:374px,374px,261px,178px;"
								data-text="w:normal;s:50,50,35,24;l:50,50,35,24;"
								data-actions='o:click;a:jumptoslide;slide:previous;'
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;font-family:'Roboto';"
							><i class="material-icons">keyboard_arrow_left</i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-21-slide-21-layer-1" 
								class="rs-svg rs-layer-static"
								data-type="text"
								data-rsp_ch="on"
								data-xy="xo:900px,900px,630px,432px;yo:374px,374px,261px,178px;"
								data-text="w:normal;s:50,50,35,24;l:50,50,35,24;"
								data-actions='o:click;a:jumptoslide;slide:next;'
								data-onslides="s:1;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:'Roboto';"
							><i class="material-icons">keyboard_arrow_right</i> 
							</rs-layer><!--

							--><rs-layer
								id="slider-21-slide-21-layer-16" 
								class="rs-noevents rs-layer-static"
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:c;y:b;yo:-600px;"
								data-text="w:normal;"
								data-dim="w:1000px;h:1000px;"
								data-onslides="s:1;"
								data-border="bor:50%,50%,50%,50%;"
								data-frame_999="o:0;st:w;"
								style="z-index:5;background:radial-gradient(ellipse at center, rgba(36,171,200,0.5) 0%, rgba(136,196,208,0) 56%, rgba(215,215,215,0) 100%);"
							> 
							</rs-layer><!--
					--></rs-static-layers>
				</rs-module>
				<script>
					setREVStartSize({c: 'rev_slider_21_1',rl:[1240,1024,778,480],el:[800,750,700,600],gw:[1000,1000,700,480],gh:[800,750,700,600],type:'carousel',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider211"]!==undefined) {window.RS_MODULES.modules["revslider211"].once = false;window.revapi21 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		@font-face{font-family:'Material Icons'; font-style:normal; font-weight:400; src:url(https://cdn.shopify.com/s/files/1/0621/4382/4003/files//material-icon-v41-normal-400.woff2) format('woff2')}rs-module .material-icons{font-family:'Material Icons'; font-weight:normal; font-style:normal; font-size:inherit; display:inline-block; text-transform:none; letter-spacing:normal; word-wrap:normal; white-space:nowrap; direction:ltr; vertical-align:top; line-height:inherit;  font-feature-settings:'liga'; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; -moz-osx-font-smoothing:grayscale}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi21;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider211"] = {init:function() {
			window.revapi21 = window.revapi21===undefined || window.revapi21===null || window.revapi21.length===0  ? document.getElementById("rev_slider_21_1") : window.revapi21;
			if(window.revapi21 === null || window.revapi21 === undefined || window.revapi21.length==0) { window.revapi21initTry = window.revapi21initTry ===undefined ? 0 : window.revapi21initTry+1; if (window.revapi21initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider211"].init()}); return;}
			window.revapi21 = revQuery(window.revapi21);
			if(window.revapi21.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_21_1"); return;}
			revapi21.revolutionInit({
					revapi:"revapi21",
					sliderType:"carousel",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"gid://shopify/AppInstallation/649909272874",
					gridwidth:"1000,1000,700,480",
					gridheight:"800,750,700,600",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"global",
					imgCrossOrigin:"anonymous",
					editorheight:"800,750,700,600",
					responsiveLevels:"1240,1024,778,480",
					carousel: {
						showLayersAllTime:"all",
						infinity:true,
						maxVisibleItems:1,
						minScale:"5%",
						maxOpacity:"0%"
					},
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} ;

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_section-7" ).after( "<div id='revslider_show_section-7'></div>" );
                            revQuery( "#revslider_drag_section-7" ).hide();
                            revQuery("#revslider_foot_section-7").appendTo("#revslider_show_section-7");
                            revQuery("#revslider_show_section-7 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>