{% capture asset_url_rev %}{% render 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_section-8">
			<!-- START section 8 (Bottom carousel) REVOLUTION SLIDER 6.7.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_22_1_wrapper" data-source="gallery" style="visibility:hidden;background:#000000;padding:0;">
				<rs-module id="rev_slider_22_1" style="" data-version="6.7.13">
					<rs-slides style="overflow: hidden; position: absolute;">
						<rs-slide style="position: absolute;" data-key="rs-54" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq2.jpg" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq2.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-22-slide-54-layer-0" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;blu:7px;cp:0%;"
								data-frame_1="sp:1000;blu:7px;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:8;background-color:rgba(0,0,0,0.5);"
							><rs-bg-elem style="background: url('//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq2.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-54-layer-1" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="sp:1000;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:9;background-color:rgba(255,255,255,0.05);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-54-layer-2" 
								class="rs-on-car"
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:40;l:40;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:13;font-family:'Staatliches';"
							>01 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-54-layer-3" 
								data-type="text"
								data-xy="x:c;y:m;"
								data-text="s:90,70,50,35;l:90,70,50,35;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-btrans="rZ:-90;"
								data-clip="u:true;o:cv;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="st:w;sp:1000;sR:7000;auto:true;"
								style="z-index:10;font-family:'Staatliches';"
							>CARBON BASED 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-54-layer-4" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:85px,80px,65px,60px;"
								data-text="w:normal;s:15,13,12,11;l:20,17,15,13;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:12;font-family:'Inconsolata';"
							>Photography Project<br />
March 2019<br />
for ThemePunch 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-54-layer-5" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:15,13,12,11;l:30,26,24,22;fw:700;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-padding="r:30,25,22,20;l:30,25,22,20;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;"
								style="z-index:11;font-family:'Inconsolata';cursor:pointer;"
							>View 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-55" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq1.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq1.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-22-slide-55-layer-0" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;blu:7px;cp:0%;"
								data-frame_1="sp:1000;blu:7px;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:8;background-color:rgba(0,0,0,0.5);"
							><rs-bg-elem style="background: url('//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq1.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-55-layer-1" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="sp:1000;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:9;background-color:rgba(255,255,255,0.05);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-55-layer-2" 
								class="rs-on-car"
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:40;l:40;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:14;font-family:'Staatliches';"
							>02 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-55-layer-3" 
								data-type="text"
								data-xy="x:c;y:m;"
								data-text="s:90,70,50,35;l:90,70,50,35;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-btrans="rZ:-90;"
								data-clip="u:true;o:cv;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="st:w;sp:1000;sR:7000;auto:true;"
								style="z-index:11;font-family:'Staatliches';"
							>LIQUID DREAMS 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-55-layer-4" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:85px,80px,65px,60px;"
								data-text="w:normal;s:15,13,12,11;l:20,17,15,13;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:13;font-family:'Inconsolata';"
							>Photography Project<br />
April 2019<br />
for ThemePunch 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-55-layer-5" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:15,13,12,11;l:30,26,24,22;fw:700;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-padding="r:30,25,22,20;l:30,25,22,20;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;"
								style="z-index:12;font-family:'Inconsolata';cursor:pointer;"
							>View 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-56" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq4.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq4.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-22-slide-56-layer-0" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;blu:7px;cp:0%;"
								data-frame_1="sp:1000;blu:7px;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:8;background-color:rgba(0,0,0,0.5);"
							><rs-bg-elem style="background: url('//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq4.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-56-layer-1" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="sp:1000;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:9;background-color:rgba(255,255,255,0.05);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-56-layer-2" 
								class="rs-on-car"
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:40;l:40;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:13;font-family:'Staatliches';"
							>03 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-56-layer-3" 
								data-type="text"
								data-xy="x:c;y:m;"
								data-text="s:90,70,50,35;l:90,70,50,35;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-btrans="rZ:-90;"
								data-clip="u:true;o:cv;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="st:w;sp:1000;sR:7000;auto:true;"
								style="z-index:10;font-family:'Staatliches';"
							>LOW RIDER 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-56-layer-4" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:85px,80px,65px,60px;"
								data-text="w:normal;s:15,13,12,11;l:20,17,15,13;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:12;font-family:'Inconsolata';"
							>Photography Project<br />
February 2019<br />
for ThemePunch 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-56-layer-5" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:15,13,12,11;l:30,26,24,22;fw:700;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-padding="r:30,25,22,20;l:30,25,22,20;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;"
								style="z-index:11;font-family:'Inconsolata';cursor:pointer;"
							>View 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-57" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0821/2548/8426/files/Asteroids.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/Asteroids.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
							<rs-bgvideo 
								data-video="w:100%;h:100%;nse:false;l:true;ptimer:false;vfc:true;"
								data-mp4="//update.revsliderapp.com/uploads/23509/Asteroids.mp4"
							></rs-bgvideo>
<!--
							--><rs-layer
								id="slider-22-slide-57-layer-1" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="sp:1000;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:9;background-color:rgba(255,255,255,0.05);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-57-layer-2" 
								class="rs-on-car"
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:40;l:40;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:13;font-family:'Staatliches';"
							>04 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-57-layer-3" 
								data-type="text"
								data-xy="x:c;y:m;"
								data-text="s:90,70,50,35;l:90,70,50,35;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-btrans="rZ:-90;"
								data-clip="u:true;o:cv;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="st:w;sp:1000;sR:7000;auto:true;"
								style="z-index:10;font-family:'Staatliches';"
							>ASTEROID FIELD 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-57-layer-4" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:85px,80px,65px,60px;"
								data-text="w:normal;s:15,13,12,11;l:20,17,15,13;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:12;font-family:'Inconsolata';"
							>Videography Project<br />
September 2019<br />
for ThemePunch 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-57-layer-5" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:15,13,12,11;l:30,26,24,22;fw:700;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-padding="r:30,25,22,20;l:30,25,22,20;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;"
								style="z-index:11;font-family:'Inconsolata';cursor:pointer;"
							>View 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-57-layer-30" 
								class="rs-fsv rs-nolc rs-layer-video intrinsic-ignore"
								data-type="video"
								data-xy="x:0;y:0;"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-video="vfc:true;vd:100;noint:t;fc:true;l:true;ptimer:false;nse:f;sav:f;"
								data-poster="//cdn.shopify.com/s/files/1/0821/2548/8426/files/Asteroids.jpg"
								data-mp4="//update.revsliderapp.com/uploads/23509/Asteroids.mp4"
								data-clip="u:true;"
								data-frame_0="o:1;blu:7px;cp:0%;"
								data-frame_1="sp:1000;blu:7px;cp:50%;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							>
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-58" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq5.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq5.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-22-slide-58-layer-0" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;blu:7px;cp:0%;"
								data-frame_1="sp:1000;blu:7px;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:8;background-color:rgba(0,0,0,0.5);"
							><rs-bg-elem style="background: url('//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq5.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-58-layer-1" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="sp:1000;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:9;background-color:rgba(255,255,255,0.05);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-58-layer-2" 
								class="rs-on-car"
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:40;l:40;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:14;font-family:'Staatliches';"
							>05 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-58-layer-3" 
								data-type="text"
								data-xy="x:c;y:m;"
								data-text="s:90,70,50,35;l:90,70,50,35;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-btrans="rZ:-90;"
								data-clip="u:true;o:cv;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="st:w;sp:1000;sR:7000;auto:true;"
								style="z-index:11;font-family:'Staatliches';"
							>SPACED OUT 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-58-layer-4" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:85px,80px,65px,60px;"
								data-text="w:normal;s:15,13,12,11;l:20,17,15,13;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:13;font-family:'Inconsolata';"
							>Webdesign Project<br />
February 2019<br />
for ThemePunch 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-58-layer-5" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:15,13,12,11;l:30,26,24,22;fw:700;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-padding="r:30,25,22,20;l:30,25,22,20;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;"
								style="z-index:12;font-family:'Inconsolata';cursor:pointer;"
							>View 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-59" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq6.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq6.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-22-slide-59-layer-0" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;blu:7px;cp:0%;"
								data-frame_1="sp:1000;blu:7px;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:8;background-color:rgba(0,0,0,0.5);"
							><rs-bg-elem style="background: url('//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq6.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-59-layer-1" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="sp:1000;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:9;background-color:rgba(255,255,255,0.05);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-59-layer-2" 
								class="rs-on-car"
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:40;l:40;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:14;font-family:'Staatliches';"
							>06 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-59-layer-3" 
								data-type="text"
								data-xy="x:c;y:m;"
								data-text="s:90,70,50,35;l:90,70,50,35;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-btrans="rZ:-90;"
								data-clip="u:true;o:cv;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="st:w;sp:1000;sR:7000;auto:true;"
								style="z-index:11;font-family:'Staatliches';"
							>NEW MONA LISA 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-59-layer-4" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:85px,80px,65px,60px;"
								data-text="w:normal;s:15,13,12,11;l:20,17,15,13;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:13;font-family:'Inconsolata';"
							>Webdesign Project<br />
February 2019<br />
for ThemePunch 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-59-layer-5" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:15,13,12,11;l:30,26,24,22;fw:700;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-padding="r:30,25,22,20;l:30,25,22,20;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;"
								style="z-index:12;font-family:'Inconsolata';cursor:pointer;"
							>View 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-60" data-title="Slide" data-thumb="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq3.jpg" data-anim="ms:1000;r:0;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq3.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-22-slide-60-layer-0" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;blu:7px;cp:0%;"
								data-frame_1="sp:1000;blu:7px;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:8;background-color:rgba(0,0,0,0.5);"
							><rs-bg-elem style="background: url('//cdn.shopify.com/s/files/1/0821/2548/8426/files/hq3.jpg') no-repeat center center; background-size: cover;"></rs-bg-elem>
 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-60-layer-1" 
								data-type="shape"
								data-text="w:normal;"
								data-dim="w:100%;h:100%;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="sp:1000;cp:50%;"
								data-frame_999="st:w;sp:1000;sR:7500;auto:true;"
								style="z-index:9;background-color:rgba(255,255,255,0.05);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-60-layer-2" 
								class="rs-on-car"
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:40;l:40;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:14;font-family:'Staatliches';"
							>07 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-60-layer-3" 
								data-type="text"
								data-xy="x:c;y:m;"
								data-text="s:90,70,50,35;l:90,70,50,35;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-btrans="rZ:-90;"
								data-clip="u:true;o:cv;"
								data-frame_0="o:1;cp:0%;"
								data-frame_1="e:power4.out;sp:2000;"
								data-frame_999="st:w;sp:1000;sR:7000;auto:true;"
								style="z-index:11;font-family:'Staatliches';"
							>MAJESTIC HILLS 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-60-layer-4" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:85px,80px,65px,60px;"
								data-text="w:normal;s:15,13,12,11;l:20,17,15,13;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								style="z-index:13;font-family:'Inconsolata';"
							>Webdesign Project<br />
February 2019<br />
for ThemePunch 
							</rs-layer><!--

							--><rs-layer
								id="slider-22-slide-60-layer-5" 
								data-type="text"
								data-xy="xo:30px,30px,20px,20px;y:b;yo:30px,30px,20px,20px;"
								data-text="w:normal;s:15,13,12,11;l:30,26,24,22;fw:700;"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-padding="r:30,25,22,20;l:30,25,22,20;"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;"
								data-clip="u:true;"
								data-frame_0="cp:0%;"
								data-frame_1="e:power4.out;sp:1000;"
								data-frame_999="st:w;sp:1000;sR:8000;auto:true;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;"
								style="z-index:12;font-family:'Inconsolata';cursor:pointer;"
							>View 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script>
					setREVStartSize({c: 'rev_slider_22_1',rl:[1240,1024,778,480],el:[300,600,500,400],gw:[1240,1024,778,480],gh:[300,300,300,300],type:'carousel',justify:'true',layout:'fullscreen',offsetContainer:'',offset:'',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider221"]!==undefined) {window.RS_MODULES.modules["revslider221"].once = false;window.revapi22 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%7CStaatliches:400%7CInconsolata:400%2C700" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#rev_slider_22_1_wrapper .gyges .tp-thumb{opacity:1}#rev_slider_22_1_wrapper .gyges .tp-thumb-img-wrap{padding:3px; background-color:rgba(0,0,0,0.75); display:inline-block; width:100%; height:100%; position:relative; margin:0px; box-sizing:border-box;  transition:all 0.3s;  -webkit-transition:all 0.3s}#rev_slider_22_1_wrapper .gyges .tp-thumb-image{padding:3px;  display:block;  box-sizing:border-box;  position:relative;  -webkit-box-shadow:inset 5px 5px 10px 0px rgba(0,0,0,0.75); -moz-box-shadow:inset 5px 5px 10px 0px rgba(0,0,0,0.75); box-shadow:inset 5px 5px 10px 0px rgba(0,0,0,0.75)}#rev_slider_22_1_wrapper .gyges .tp-thumb.rs-touchhover .tp-thumb-img-wrap,#rev_slider_22_1_wrapper .gyges .tp-thumb.selected .tp-thumb-img-wrap{background:-moz-linear-gradient(top,#ffffff 0%,#ffffff 100%);background:-webkit-gradient(left top,left bottom,color-stop(0%,#ffffff,color-stop(100%,#ffffff)));background:-webkit-linear-gradient(top,#ffffff 0%,#ffffff 100%);background:-o-linear-gradient(top,#ffffff 0%,#ffffff 100%);background:-ms-linear-gradient(top,#ffffff 0%,#ffffff 100%);background:linear-gradient(to bottom,#ffffff 0%,#ffffff 100%)}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi22;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider221"] = {init:function() {
			window.revapi22 = window.revapi22===undefined || window.revapi22===null || window.revapi22.length===0  ? document.getElementById("rev_slider_22_1") : window.revapi22;
			if(window.revapi22 === null || window.revapi22 === undefined || window.revapi22.length==0) { window.revapi22initTry = window.revapi22initTry ===undefined ? 0 : window.revapi22initTry+1; if (window.revapi22initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider221"].init()}); return;}
			window.revapi22 = revQuery(window.revapi22);
			if(window.revapi22.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_22_1"); return;}
			revapi22.revolutionInit({
					revapi:"revapi22",
					sliderType:"carousel",
					DPR:"dpr",
					sliderLayout:"fullscreen",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"gid://shopify/AppInstallation/649909272874",
					gridwidth:"1240,1024,778,480",
					gridheight:"300,300,300,300",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"300,600,500,400",
					responsiveLevels:"1240,1024,778,480",
					stopAtSlide:1,
					stopAfterLoops:0,
					stopLoop:true,
					carousel: {
						showLayersAllTime:"individual",
						infinity:true,
						justify:true,
						justifyMaxWidth:true
					},
					progressBar:{disableProgressBar:true},
					navigation: {
						wheelCallDelay:1000,
						onHoverStop:false,
						thumbnails: {
							enable:true,
							tmp:"<span class=\"tp-thumb-img-wrap\">  <span class=\"tp-thumb-image\"></span></span>",
							style:"gyges",
							hide_onmobile:true,
							hide_under:778,
							h_align:"right",
							h_offset:15,
							v_offset:15,
							space:5,
							width:70,
							min_width:70,
							wrapper_padding:5,
							wrapper_color:"transparent"
						}
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} ;

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_section-8" ).after( "<div id='revslider_show_section-8'></div>" );
                            revQuery( "#revslider_drag_section-8" ).hide();
                            revQuery("#revslider_foot_section-8").appendTo("#revslider_show_section-8");
                            revQuery("#revslider_show_section-8 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>