<style>
  body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .main-title {
    max-width: 900px;
    margin: {{ section.settings.main_carousel_text_border }}px auto 0px auto;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border-bottom: 2px solid #aaa;
  }

  .swiper {
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 700px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-slider .swiper-button-next,
  .main-slider .swiper-button-prev {
    color: #fff;
  }
</style>

<section>
  {% if section.settings.main_carousel_title != blank %}
    <div class="main-title">{{ section.settings.main_carousel_title }}</div>
  {% endif %}

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.main_carousel_image != blank and block.settings.child_carousel_image != blank %}
          <div class="swiper-slide">
            <img
              src="{{ block.settings.main_carousel_image | img_url: 'master' }}"
              alt="Main Carousel Image"
              height="auto"
              width="auto"
            >
            {% if block.settings.main_carousel_text != blank %}
              <div class="description-overlay">
                {{ block.settings.main_carousel_text }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<script>
  var swiper = new Swiper('.mySwiper', {
    spaceBetween: 30,
    centeredSlides: true,
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Carousel",
  "disabled_on": {
    "groups": ["aside", "header", "footer", "custom.hero"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Main Carousel Setting"
    },
    {
      "type": "text",
      "id": "main_carousel_title",
      "label": "Main Carousel Title"
    },
    {
      "type": "range",
      "id": "main_carousel_text_border",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Main Carousel Text Border",
      "default": 10
    },
    {
      "type": "range",
      "id": "main_carousel_top_border",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Main Carousel Top Border",
      "default": 10
    },
    {
      "type": "range",
      "id": "main_carousel_bottom_border",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Main Carousel Bottom Border",
      "default": 20
    },
    {
      "type": "header",
      "content": "Child Carousel Setting"
    },
    {
      "type": "text",
      "id": "child_carousel_title",
      "label": "Child Carousel Title"
    },
    {
      "type": "range",
      "id": "child_carousel_top_border",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Child Carousel Top Border",
      "default": 10
    },
    {
      "type": "range",
      "id": "child_carousel_bottom_border",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Child Carousel Bottom Border",
      "default": 20
    },
    {
      "type": "range",
      "id": "thumb_carousel_image_gaps",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Thumb Carousel Image gaps",
      "default": 10
    },
    {
      "type": "header",
      "content": "Carousel Slide Setting"
    },
    {
      "type": "checkbox",
      "id": "auto_slide",
      "label": "Auto Slide",
      "default": true
    },
    {
      "type": "range",
      "id": "auto_main_slide_speed",
      "min": 0,
      "max": 8000,
      "step": 1000,
      "unit": "s",
      "label": "Auto Main Slide Speed",
      "default": 1000,
      "visible_if": "{{ section.settings.auto_slide == true }}"
    },
    {
      "type": "range",
      "id": "auto_thumb_slide_speed",
      "min": 0,
      "max": 8000,
      "step": 1000,
      "unit": "s",
      "label": "Auto Thumb Slide Speed",
      "default": 1000,
      "visible_if": "{{ section.settings.auto_slide == true }}"
    }
  ],
  "blocks": [
    {
      "name": "Main Image",
      "type": "main_image",
      "limit": 10,
      "settings": [
        {
          "type": "header",
          "content": "Corousel Image"
        },
        {
          "type": "image_picker",
          "id": "main_carousel_image",
          "label": "Main Crousel Image"
        },
        {
          "type": "richtext",
          "id": "main_carousel_text",
          "label": "Main Carousel_text"
        },
        {
          "type": "image_picker",
          "id": "child_carousel_image",
          "label": "Child Carousel Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Images Carousel"
    }
  ]
}
{% endschema %}
